body {
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
}

/* INTRO */

.intro-section {
  height: 500px;
  width: 100%;
  background-color: #24b4ab;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  padding: 30px;
}

.intro-logo {
  border-radius: 200px;
}

/* INTRO DESCRIPTION */

.intro-description {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 25px;
  gap: 50px;
}

.intro-header {
  font-size: 35px;
  font-weight: bold;
}

.intro-buttons {
  background-color: #24b4ab;
  padding: 10px;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.intro-buttons:hover {
  background-color: white;
  color: #24b4ab;
}

/* INTRO DESCRIPTION */


/* INTRO IMAGE */

.intro-image {
  border-radius: 50px;
  object-fit: cover;
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* INTRO IMAGE */

/* INTRO */

/* ABOUT */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
  width: 100vw;

  background:
    linear-gradient(rgba(207, 197, 197, 0.88), rgba(202, 193, 193, 0.88)),
    url("../../img/about/bronx.png");
  background-size: cover;
  background-position: center;
}

.about-section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 75px;
  border-radius: 25px;
  /* chatgpt */
  background: rgba(169, 164, 164, 0.20);
  /* transparent card */
  backdrop-filter: blur(6px);
  /* optional "glass" effect */

  display: inline-block;

  border: 1px solid #ffb5ac;
  transition: background 0.75s, border 0.65s, box-shadow 0.5s;
}

.about-section-inner:hover {
  background: rgba(205, 195, 195, 0.50);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: 3px solid #fa8072;
}

.about-desc {
  display: flex;
  gap: 25px;
  width: 400px;
  height: 100px;
}

/* ABOUT */

/* CATALOGUE */

.catalogue-section {
  height: 500px;
  width: 100%;
  background-color: #fa8072;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* CATALOGUE */

.catalogue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.catalogue-card>img {
  object-fit: cover;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

/*
CHAT GPT - UNDERLINE THAT SLOWLY FILLS UP
*/

/* the text */
.catalogue-card > .category {
  margin: 0;
  display: inline-block;

  /* animated underline */
  /* one for text and underline */
  background-image: linear-gradient(#24b4ab, #24b4ab);

  /* initially underline is transparent */
  background-size: 0% 3px;
  background-position: 0 100%;

  background-repeat: no-repeat;

  transition: background-size 0.75s ease, color 0.25s ease;
}

/* hover image => underline + color */
.catalogue-card > img:hover + .category {
  background-size: 100% 3px;
  color: #24b4ab;
}