.contact-page-section{
  background:
    linear-gradient(rgba(207, 197, 197, 0.88), rgba(202, 193, 193, 0.10)),
    url("../../img/contact/bronx.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.contact-card{
  display: inline-block;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(169, 164, 164, 0.80);
  width: 800px;
  border-radius: 50px;
  padding: 30px;
}

.contact{
  color: white;
}

.special-credit{
  color: white
}

.contact, .special-credit {
  padding: 20px;
}