*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
  width: 100%;
  min-height: 100px;
  background-color: 	#9fe3c1;
}

nav{
  display: flex;
  min-height: inherit;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.nav-button{
  padding: 20px;

  border: solid;
  background-color: transparent;
  cursor: pointer;

  border-radius: 30px;
  border-color: #24b4ab;

  transition: box-shadow 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.nav-button:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #24b4ab;
  color: white;
}

.chosen-tab{
  border-color: orange;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo{
  height: 70px;
  width: 70px;
  object-fit: contain;
  border-radius: 10px;
}